@import './navbar.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    scrollbar-width: thin;
}

:root {
    --hambuguer-bar-width: 24px;
    --hambuguer-bar-height: 3px;
    --hambuguer-bar-gap: 4px;
    --hambuguer-height: calc(var(--hambuguer-bar-height) * 3 + var(--hambuguer-bar-gap) * 2);
    --hambuguer-animation: 200ms ease-in-out;
    --color-black: black;
    --color-yellow: rgb(255, 214, 67);
    --color-white: rgb(240, 248, 255);
}

body {
    padding-top: 37px;
    color: var(--color-white);
    background-color: var(--color-black);
    background-image: url('../images/markus-spiske-hvSr_CVecVI-unsplash-edit.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    transition: background-color 200ms ease-in-out;
    background: linear-gradient(var(--color-black), rgba(0, 0, 0, 0.6));
    z-index: 999;
}

.header-bg-nav-open {
    background-color: var(--color-black);
}

main {
    padding: 6px;
}

footer {
    padding: 3px;
    font-size: 10px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:hover {
    color: var(--color-yellow);
    text-decoration: underline;
}

ul {
    list-style: none;
}

.highlight {
    color: var(--color-yellow);
}

.break-line {
    display: block;
}

.hidden-overflow {
    overflow: hidden;
}

.jvitoralb-logo {
    margin: 6px;
}
