@import './configs.css';


section#welcome-section {
    height: 75vh;
    padding: 12vh 6vw;
}

section#welcome-section > * {
    max-width: 460px;
}

p#welcome-sub-header {
    font-weight: 600;
    padding-top: 6px;
}

.welcome-sec-btn-container {
    padding: 12px;
    display: flex;
    justify-content: space-around;
}

.welcome-sec-btn {
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    padding: 6px;
    margin: 6px;
    border-radius: 3px;
    transition: 300ms ease-in-out;
}

.welcome-sec-btn:hover {
    color: var(--color-black);
    background-color: var(--color-yellow);
    text-decoration: none;
}

section#my-services-section {
    padding: 12vh 6vw;
}

.tecnologies-img {
    max-width: 100%;
}

section#my-services-section p#my-services-description {
    padding: 22px 0;
}

@media (min-width: 540px) {
    .my-services-sec-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tecnologies-img {
        margin: 12px 0;
    }
}

@media (min-width: 872px) {
    .my-services-sec-container {
        flex-direction: row;
        align-items: unset;
    }

    .tecnologies-img {
        max-width: 50%;
        margin: unset;
    }

    section#my-services-section p#my-services-description {
        padding: 22px 22px 22px 0;
    }
}

@media (min-width: 980px) {
    .tecnologies-img {
        max-width: unset;
        margin: unset;
    }
    section#my-services-section p#my-services-description {
        padding: 22px 44px 22px 0;
    }
}

section#recent-works-section {
    padding: 12vh 6vw;
}

.work-cards-container {
    padding: 22px 0;
    display: flex;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.work-card {
    color: var(--color-black);
    border: 1px solid var(--color-yellow);
    background-color: var(--color-white);
    border-radius: 3px;
    padding: 6px;
    margin: 6px;
    min-width: 60vw;
    width: 250px;
}

.work-card > * {
    padding: 6px;
}

.work-card-link {
    color: var(--color-black);
}

.work-card-link:hover {
    color: rgb(70, 70, 70);
    text-decoration: underline;
}

@media (min-width: 460px) {
    .work-card {
        height: 240px;
        min-width: 250px;
    }

    .work-card > h2 {
        padding-bottom: 12px;
    }
}

@media (min-width: 878px) {
    .work-cards-container {
        display: flex;
        justify-content: space-around;
    }
}

.works-sec-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-works-btn {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 12px 0;
    padding: 6px;
    border-radius: 3px;
    transition: 300ms ease-in-out;
}

.recent-works-btn:hover {
    color: var(--color-black);
    background-color: var(--color-yellow);
    text-decoration: none;
}
