@import './configs.css';


section#my-projects-section {
    padding: 12vh 6vw;
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 690px) {
    .articles-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        justify-content: unset;
    }
}

@media (min-width: 1040px) {
    .articles-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
    }
}

.project {
    height: 245px;
    width: 303px;
    overflow: hidden;
    position: relative;
    border: 1px solid white;
    margin: 6px 0;
    display: flex;
    flex-direction: row-reverse;
}

.project-info {
    display: none;
    padding: 6px;
}

.project-info > p {
    padding: 12px 0;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-container h3 {
    font-weight: 600;
    padding-right: 6px;
}

.title-container svg {
    padding: 0 6px;
}

.title-container svg:hover {
    cursor: pointer;
}

.title-container h2:hover ~ svg,
.title-container svg:hover {
    fill: var(--color-yellow);
}

.project img {
    height: 245px;
    width: 303px;
    background-color: rgba(240, 248, 255, 0.3);
}

.gallery-modal {
    display: none;
    height: 100vh;
    width: 100vw;
}

.gallery-image {
    max-height: 90vh;
    max-width: 80vw;
    min-width: 60vw;
    padding: 6px;
}

.image-container {
    width: 80vw;
    text-align: center;
}

@media (min-width: 690px) {
    .gallery-image {
        max-width: 60vw;
        min-width: 45vw;
        padding: 0 12px;
    }
    .image-container {
        width: 60vw;
    }
}

.gallery-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-open {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(2px);
}

.block-scroll {
    overflow: hidden;
}

.gallery-btn {
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    color: white;
    font-size: 36px;
    font-weight: bolder;
    cursor: pointer;
}

.exit-modal-btn-container {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: end;
}

.exit-modal-btn {
    padding: 4px 12px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
